html, body {
    height: 100%;
}

app {
    display: block;
    height: 100%;
}

.header-logo {
    flex-shrink: 0;
    background-color: currentColor;
    -webkit-mask: url('../images/Logo.svg');
    mask: url('../images/Logo.svg');
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    width: 180px;
    height: 24px;
}

#blazor-error-ui {
    background: inherit;
    bottom: 0;
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 100001;
}

.float-container {
    border: 3px solid #079A88;
    padding: 20px;
    height: 100%;
}

.float-child {
    width: 50%;
    float: left;
    padding: 20px;
    border: 2px solid #079A88;
}
.second-child {
    background: #CEDEDC;
}

.content-info-container {
    display: flex;
    width: 100%;
}

.info-panel {
    flex: 0 0 200px;
}
